<div class="prediction-question">
    @switch (Question.Type)
    {
        case PredictionQuestionType.AthleteRanking:
            <AthleteRankingQuestion Competition="Competition" GroupId="@GroupId" Question="Question" Answer="Answer" ValidationErrors="ValidationErrors" AnswerChanged="AnswerChanged" />
            break;
        case PredictionQuestionType.CategoryPodium:
            <CategoryPodiumQuestion Competition="Competition" GroupId="@GroupId" Question="Question" Answer="Answer" ValidationErrors="ValidationErrors" AnswerChanged="AnswerChanged" />
            break;
        case PredictionQuestionType.NumericAthletePrediction:
            <NumericAthletePredictionQuestion Competition="Competition" GroupId="@GroupId" Question="Question" Answer="Answer" ValidationErrors="ValidationErrors" AnswerChanged="AnswerChanged" />
            break;
        case PredictionQuestionType.SingleAthleteChoice:
            <SingleAthleteChoiceQuestion Competition="Competition" GroupId="@GroupId" Question="Question" Answer="Answer" ValidationErrors="ValidationErrors" AnswerChanged="AnswerChanged" />
            break;
        case PredictionQuestionType.MultiAthleteChoice:
            <MultiAthleteChoiceQuestion Competition="Competition" GroupId="@GroupId" Question="Question" Answer="Answer" ValidationErrors="ValidationErrors" AnswerChanged="AnswerChanged" />
            break;
        case PredictionQuestionType.YesNo:
            <YesNoQuestion GroupId="@GroupId" Question="Question" Answer="Answer" ValidationErrors="ValidationErrors" AnswerChanged="AnswerChanged" />
            break;
        case PredictionQuestionType.MultipleChoice:
            <MultipleChoiceQuestion GroupId="@GroupId" Question="Question" Answer="Answer" ValidationErrors="ValidationErrors" AnswerChanged="AnswerChanged" />
            break;
        case PredictionQuestionType.NumericQuestion:
            <NumericQuestion GroupId="@GroupId" Question="Question" Answer="Answer" ValidationErrors="ValidationErrors" AnswerChanged="AnswerChanged" />
            break;
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Competition Competition { get; set; } = default!;

    [Parameter, EditorRequired]
    public string GroupId { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public PredictionQuestion Question { get; set; } = default!;

    [Parameter]
    public PredictionAnswer? Answer { get; set; }

    [Parameter]
    public IReadOnlyList<PredictionValidationError> ValidationErrors { get; set; } = [];

    [Parameter]
    public EventCallback<PredictionAnswer> AnswerChanged { get; set; }
}
